@charset "UTF-8";

// Airtable list filter dropdowns and search box

.airtable-filter-container {
  display: flex;
  flex-wrap: wrap; // Allows items to wrap in smaller screens
  margin-bottom: 3rem;

  #airtable-list-filters {
    display: flex;
    flex: 1 0; // Flex-grow, Flex-shrink, Flex-basis
    gap: 1.5rem; // Spacing between the dropdowns

    .airtable-list-filter-group {
      border-radius: 4px;
      flex: 1; // Each group takes equal space in the row
      max-width: 100%;
      min-width: 0; // Prevents flex items from not shrinking below their content size

      &.airtable-list-filter-header {
        font-weight: $su-font-semi-bold;
        text-transform: uppercase;

        .chosen-container {
          display: flex !important;
          font-size: 1.6rem;

          &.chosen-container-single {
            .chosen-single {
              display: flex;
              width: 100%; // Use the full width of the parent
              @include margin(.5rem 0);
              @include padding(0);
              font-size: 1.6rem;
              line-height: 1.15;
              border: 1px solid $su-color-digital-red !important;
              border-radius: 4px;
              cursor: pointer;
              max-width: 100%; 
              min-height: 4rem;
              background-image: none;
      
              &:focus {
                border-color: $su-color-lagunita-light;
                box-shadow: $su-color-lagunita-light;
              }
  
              span {
                @include margin(1rem);
                display: flex;
                color: $su-color-black;
                text-transform: none;
              } 
              
              div {
                right: 1.5rem; // Right-align the icon

                b {
                  //background-image: url("./../assets/svg/arrow-down.svg") !important;
                  //background-image: url("#{$su-image-path}/arrow-down.svg");
                  background-size: 10rem !important;
                }
              }
            }
          }

          &.chosen-container-active {
            .chosen-single {
              box-shadow: none;
              font-size: 1.6rem;
            }
          }

          &.chosen-container-multi {
            .chosen-choices {
              width: 100%; // Use the full width of the parent
              display: block;
              @include margin(.5rem 0);
              font-size: 1.6rem;
              background-image:url(https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen-sprite@2x.png);
              //background-image: url(#{$su-image-path}/arrow-down.svg);
              background-repeat: no-repeat;
              background-position: 119% 0; // position to display the desired icon
              background-size: 10rem; 
              padding-right: 3rem; 

              border: 1px solid $su-color-digital-red !important;
              border-radius: 4px;
              max-width: 100%; 
              height: auto;
              min-height: 4rem;
      
              &:focus {
                border-color: $su-color-lagunita-light;
                box-shadow: $su-color-lagunita-light;
              }

              li.search-choice {
                line-height: 1.15;
              }

              li.search-field input[type=text] {
                @include margin(.6rem);
                font-family: inherit;
                font-size: 1.6rem;
                color: $su-color-black;
                font-weight: $su-font-semi-bold;
                height: 2.5rem;
              }

              span {
                text-transform: none;
                font-weight: $su-font-semi-bold;
              }
            }
          }
          .chosen-drop {
            text-transform: none;
            font-family: inherit;
            font-size: 1.6rem;
            line-height: 1.15;

            .chosen-results {
              li {
                &.highlighted {
                  background-image: none; // Remove from source code
                  background-color: $su-color-digital-blue; // Set hover color for dropdown list
                  color: #fff
                }
              }
            }
          }
        }        
      }
    }

    .airtable-list-search {
      flex: 1;
      position: relative; // This positions the children absolutely within this container

      .search-container {
        position: relative;
        width: 100%; // Ensures the search container takes full width of its flex parent
        margin-right: auto; // Keeps the container aligned to the left
        margin-left: auto; // Keeps the container centered
      }
  
      #airtable-search {
        border: 1px solid $su-color-digital-red; //red border for training
        width: 100%; // Ensures the search box takes the full width of its container
        margin-top: 3rem;
        height: 4rem;
        //padding-right: 30px; // Adjusted to prevent the icon from overlapping the text
        font-family: inherit;
        font-size: 1.6rem;
        border-radius: 3rem; // match rounded corners with the site search box
        padding: 1rem 2rem 0.8rem;
      }
  
      i { // spinner icon in search box
        position: absolute;
        right: 4rem;
        top: 20%;
        transform: translateY(-50%);
        font-size: 3rem;
        display: none;
      }
    }
  }
}

@include grid-media-max("xl") {
  .airtable-filter-container {
    max-width: 50%;
    flex-direction: column; // Stack filter groups vertically

    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box

        &.airtable-list-filter-header {
          .chosen-container {
            &.chosen-container-multi {
              .chosen-choices {
                background-position: 115% 0; // position to display the desired icon
              }
            }
          }
        }
      }

      .airtable-list-search {

        .search-container {
          width: 100%; // Set a specific width for the dropdowns and the search box
        }
  
        #airtable-search {
          margin-top: 1rem; // Adjust the margin for smaller screens
          max-width: 100%;
        }
  
        i {
          right: 3rem;
        }
      }
    }
  }
} 

@include grid-media-max("lg") {
  .airtable-filter-container {
    //max-width: 50%;
    flex-direction: column; // Stack filter groups vertically

    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box

        &.airtable-list-filter-header {
          .chosen-container {
            &.chosen-container-multi {
              .chosen-choices {
                background-position: 120% 0; // position to display the desired icon
              }
            }
          }
        }
      }
    }
  }
} 

@include grid-media-max("md") {
  .airtable-filter-container {
    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box

        &.airtable-list-filter-header {
          .chosen-container {
            &.chosen-container-multi {
              .chosen-choices {
                background-position: 125% 0; // position to display the desired icon
              }
            }
          }
        }
      }
    }
  }
}

@include grid-media-max("sm") {
  .airtable-filter-container {
    max-width: 100%;

    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box

        &.airtable-list-filter-header {
          .chosen-container {
            &.chosen-container-multi {
              .chosen-choices {
                background-position: 115% 0; // position to display the desired icon
              }
            }
          }
        }
      }
    }
  }
}

@include grid-media-max("xs") {
  .airtable-filter-container {
    //max-width: 100%;

    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box

        &.airtable-list-filter-header {
          .chosen-container {
            &.chosen-container-multi {
              .chosen-choices {
                background-position: 118% 0; // position to display the desired icon
              }
            }
          }
        }
      }
    }
  }
}

#airtable-list-record-wrapper {
  //@include margin(1.5rem 0);

  // list layout

  &.rh-list-layout {

    .airtable-list-record-row {
      @include margin(1rem 0);
      font-size: 2.1rem;
      border-bottom: 1px solid $su-color-foggy;

      &:last-child {
        border-bottom: 0; // Remove the divider below the last row
      }

      h2 {
        font-size: 3.2rem;
        @include margin(1.8rem 0);
      }

      h3 {
        font-size: 3rem;
        @include margin(2rem 0);
      }

      div {
        @include margin(.7rem 0);
      }

      .su-button {
        @include margin(2rem 0 3rem 0);
      }
    }
  }

  // card layout

  &.rh-card-layout {

    .airtable-list-record-row {
      @include margin(1.5rem 0); // space between cards

      // Below small screens
      @include flex-column(12 of 12); // 100% width
      flex: 1 0 calc(100% - 1rem);
      max-width: calc(100% - 1rem);

      // Small to Large screens
      @include grid-media-min("sm") {
        @include grid-media-max("xl") {
            @include flex-column(6 of 12); // 50% width
            flex: 1 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
        }
      }

      // Large screens and above
      @include grid-media-min("2xl") {
          @include flex-column(4 of 12); // 33.33% width
          flex: 1 0 calc(33.33% - 1rem);
          max-width: calc(33.33% - 1rem);
      }

      .su-card {
      
        .su-card__contents {
          @include padding(3rem);

          h2 {
            font-size: 2.3rem;
          }
          
          div {
            @include margin(1.5rem 0);
          }

          .su-button {
            @include margin(1rem);
            font-size: 2rem;
          }

          .rh-service-catalog-request-services-wrapper {
            @include margin(3rem 0 0 0);
          }
        }
      }
    }
  }
}