@charset "UTF-8";

// Airtable list filter dropdowns and search box

.airtable-filter-container {
  display: flex;
  flex-wrap: nowrap;
  @include margin(.5rem 1rem 3rem 0);

  #airtable-list-filters {
    display: flex;
    flex: 1; 
    gap: 1.5rem; // Spacing between the dropdowns

    label {
      font-size: $rh-filter-font-size;
      font-weight: $su-font-semi-bold;
      text-transform: uppercase;
      @include margin(0 0 .1rem 0);
      text-align: center;
      max-width: 100%;
    }

    .airtable-list-filter-group {
      border-radius: $rh-filter-border-radius;
      flex: 1; 
      max-width: 100%;
      min-width: 0; // Prevents flex items from not shrinking below their content size

      &.airtable-list-filter-header {

        .chosen-container {
          display: flex !important;
          font-size: $rh-filter-font-size;
          justify-content: center;
          align-items: center; 
          flex-direction: column;

          &.chosen-container-single {
            .chosen-single {
              display: flex;
              width: 100%; // Use the full width of the parent
              @include margin(.5rem 0);
              @include padding(0);
              font-size: $rh-filter-font-size;
              line-height: 1.15;
              border: $rh-filter-border-red !important;
              border-radius: $rh-filter-border-radius;
              max-width: 100%; 
              min-height: $rh-filter-height;

              // Dropdown arrow
              background: $rh-filter-down-arrow;
      
              &:focus {
                border-color: $su-color-lagunita-light;
                box-shadow: 0 0 0 2px $su-color-lagunita-light;
              }
  
              span { // Selected filter
                @include margin(1rem);
                display: flex;
                color: $su-color-black;
                font-weight: $su-font-regular;
                text-transform: none;
              } 
              
              div { // Hide the original down triangle icon
                display: none;
              }
            }
          }

          &.chosen-container-multi {
            .chosen-choices {
              width: 100%; // Use the full width of the parent
              display: block;
              @include margin(.5rem 0);
              font-size: $rh-filter-font-size;
              border: $rh-filter-border-red !important;
              border-radius: $rh-filter-border-radius;
              max-width: 100%; 
              min-height: $rh-filter-height;

              // dropdown arrow
              background:  $rh-filter-down-arrow;

              &:focus {
                border-color: $su-color-lagunita-light;
                box-shadow: 0 0 0 2px $su-color-lagunita-light;
              }

              li.search-choice {
                line-height: 1.15;
              }

              li.search-field input[type=text] {
                @include margin(.6rem);
                font-size: $rh-filter-font-size;
                color: $su-color-black;
                font-weight: $su-font-semi-bold;
              }
            }
          }

          // Style the dropdown menu
          .chosen-drop {
            text-transform: none;
            //font-family: inherit;
            font-size: $rh-filter-font-size;
            //font-weight: $su-font-semi-bold;
            line-height: 1.15;

            .chosen-results {
              max-height: 100%;

              li {
                &.highlighted {
                  background-image: none; // Remove from source code
                  background-color: $su-color-digital-blue; // Set hover color for dropdown list
                  color: #ffffff
                }
              }
            }
          }
        }        
      }
    }

    .airtable-list-search {
      flex: 1;
      position: relative; 

      .search-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: 100%; // Ensures the search container takes full width of its flex parent
      }
  
      #airtable-search {
        border: $rh-filter-border-red; 
        width: 100%; // Ensures the search box takes the full width of its container
        height: $rh-search-height;
        font-family: inherit;
        font-size: $rh-filter-font-size;
        border-radius: $rh-search-border-radius; 
        @include padding(1rem 2rem 0.8rem);
      }
  
      i { // spinner icon in search box
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3rem;
        display: none;
      }
    }
  }
}

@include grid-media-max("md") {
  .airtable-filter-container {
    max-width: 100%;

    #airtable-list-filters {
      flex-direction: column; // Stack filter groups vertically

      .airtable-list-filter-group {
        width: 100%; // Set a specific width for the dropdowns and the search box
      }

      .airtable-list-search {

        .search-container {
          width: 100%; // Set a specific width for the dropdowns and the search box
        }
  
        #airtable-search {
          max-width: 100%;
        }
      }
    }
  }
}

// Airtable record display

#airtable-list-record-wrapper {
  //@include margin(1.5rem 0);

  // list layout
  &.rh-list-layout {

    .airtable-list-record-row {
      @include margin(1rem 0);
      font-size: 2.1rem;
      border-bottom: 1px solid $su-color-foggy;

      &:last-child {
        border-bottom: 0; // Remove the divider below the last row
      }

      h2 {
        font-size: 3.2rem;
        @include margin(1.8rem 0);
      }

      h3 {
        font-size: 3rem;
        @include margin(2rem 0);
      }

      div {
        @include margin(.7rem 0);
      }

      .su-button {
        @include margin(2rem 0 3rem 0);
      }
    }
  }

  // card layout

  &.rh-card-layout {

    .airtable-list-record-row {
      @include margin(1.5rem 0); // space between cards

      // Below small screens
      @include flex-column(12 of 12); // 100% width
      flex: 1 0 calc(100% - 1rem);
      max-width: calc(100% - 1rem);

      // Small to Large screens
      @include grid-media-min("sm") {
        @include grid-media-max("xl") {
            @include flex-column(6 of 12); // 50% width
            flex: 1 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
        }
      }

      // Large screens and above
      @include grid-media-min("2xl") {
          @include flex-column(4 of 12); // 33.33% width
          flex: 1 0 calc(33.33% - 1rem);
          max-width: calc(33.33% - 1rem);
      }

      .su-card {
      
        .su-card__contents {
          @include padding(3rem);

          h2 {
            font-size: 2.3rem;
          }
          
          div {
            @include margin(1.5rem 0);
          }

          .su-button {
            @include margin(1rem);
            font-size: 2rem;
          }

          .rh-service-catalog-request-services-wrapper {
            @include margin(3rem 0 0 0);
          }
        }
      }
    }
  }
}