@charset "UTF-8";

// Airtable list filter dropdowns

#airtable-list-filters {
  display: flex;
  flex-wrap: wrap; // Allow wrapping of items
  align-items: center;
  @include margin(3rem 0 5rem 0);

  .airtable-list-filter-group {
    align-items: center;
    border-radius: 4px;
    margin-right: 2rem; // Spacing between the dropdowns
    flex: 1 0 calc(50% - 1rem); // Take up half the width, minus margin

    &:last-child {
      margin-right: 0; // No right margin for the last dropdown
    }

    &.airtable-list-filter-header {
      font-weight: $su-font-semi-bold;
      text-transform: uppercase;

      select {
        width: 100%; // Use the full width of the parent
        @include margin(.5rem 0);
        font-size: 1.6rem;
        border: 1px solid $su-color-digital-red;
        border-radius: 4px;
        cursor: pointer;

        &:focus {
          border-color: $su-color-lagunita-light;
          box-shadow: $su-color-lagunita-light;
        }

        option {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  @include grid-media-max("xl") { 

    .airtable-list-filter-group {
        display: block;
        margin-right: 0; // Reset the margin on smaller screens
        margin-bottom: 1rem; // Add some vertical spacing
        flex: 1 0 100%; // Take up full width
    }
  }
}

#airtable-list-record-wrapper {
  //@include margin(1.5rem 0);

  // list layout

  &.rh-list-layout {

    .airtable-list-record-row {
      @include margin(1rem 0);
      font-size: 2.1rem;
      border-bottom: 1px solid $su-color-foggy;

      &:last-child {
        border-bottom: 0; // Remove the divider below the last row
      }

      h2 {
        font-size: 3.2rem;
        @include margin(1.8rem 0);
      }

      h3 {
        font-size: 3rem;
        @include margin(2rem 0);
      }

      div {
        @include margin(.7rem 0);
      }

      .su-button {
        @include margin(2rem 0 3rem 0);
      }
    }
  }

  // card layout

  &.rh-card-layout {

    .airtable-list-record-row {
      @include margin(1.5rem 0); // space between cards

      // Below small screens
      @include flex-column(12 of 12); // 100% width
      flex: 1 0 calc(100% - 1rem);
      max-width: calc(100% - 1rem);

      // Small to Large screens
      @include grid-media-min("sm") {
        @include grid-media-max("xl") {
            @include flex-column(6 of 12); // 50% width
            flex: 1 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
        }
      }

      // Large screens and above
      @include grid-media-min("2xl") {
          @include flex-column(4 of 12); // 33.33% width
          flex: 1 0 calc(33.33% - 1rem);
          max-width: calc(33.33% - 1rem);
      }

      .su-card {
      
        .su-card__contents {
          @include padding(3rem);

          h2 {
            font-size: 2.3rem;
          }
          
          div {
            @include margin(1.5rem 0);
          }

          .su-button {
            @include margin(1rem);
            font-size: 2rem;
          }

          .rh-service-catalog-request-services-wrapper {
            @include margin(3rem 0 0 0);
          }
        }
      }
    }
  }  
}





