@charset "UTF-8";

.su-card {
                
    .su-card__contents {
        @include padding(2rem 3rem);
    
        .rh-service-catalog-label {
            display: block;
            font-weight: $su-font-bold;
        }        

        .airtable-list-filter {
            display: inline-block;
            white-space: nowrap;
            //max-width: calc(112% - 0rem);  // Width of the pill minus padding
            background-color:  $rh-color-default;
            color: $su-color-black;
            padding: 0 1rem;
            border-radius: 2rem;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s; // smooth transition for hover effects
            font-size: 1.5rem;
    
            &:hover,
            &:focus {
            background-color: color(bg--reverse);
            color: color(link--reverse);
            }
        
            &:focus {
            box-shadow: $su-focus-shadow;
            }
        }

        // Core service button links
        .rh-service-catalog-core-service {

            .artificial-intelligence,
            .computationally-intensive-research,
            .data-acquisition-and-governance,
            .data-analytics,
            .data-onboarding-and-storage,
            .human-subjects-research,
            .library-research-collections,
            .publication-support,
            .research-comms,
            .research-operations,
            .research-planning {
                color: $su-color-white;
            }

            .artificial-intelligence,
            .computationally-intensive-research,
            .data-analytics,
            .data-onboarding-and-storage {
                background-color: $rh-color-darc; 
            }
            .data-acquisition-and-governance {
                background-color: $rh-color-dag;
                color: $su-color-black;
            }

            .human-subjects-research {
                background-color: $rh-color-blab;
            }

            .library-research-collections,
            .publication-support,
            .research-planning {
                background-color: $rh-color-library;
            }

            .research-comms,
            .research-operations {
                background-color: $rh-color-ro;
            }
        }
    }
}