@charset "UTF-8";

#airtable-list-record-wrapper {
    &.rh-card-layout {
        .su-card {                        
            .su-card__contents {
                .rh-service-catalog-label {
                    display: block;
                    font-weight: $su-font-bold;
                }        

                // Default tag button style
                .airtable-list-filter {
                    display: inline-block;
                    white-space: nowrap;
                    background-color:  $rh-color-default;
                    color: $su-color-black;
                    padding: 0 1rem;
                    border-radius: 2rem;
                    text-align: center;
                    cursor: pointer;
                    transition: background-color 0.3s, transform 0.3s; // smooth transition for hover effects
                    font-size: 1.5rem;
                    @include rh-tag-hover-focus;
                }

                // Core service button links
                .rh-service-catalog-core-service {
                    // Default category tag button style
                    .airtable-list-filter {
                        background-color: $rh-color-default-dark;
                        color: $su-color-white;
                        @include rh-tag-hover-focus;
                    }
                }
            }
        }
    }
}