@charset "UTF-8";

.section-training-workshops,
.section-training-workshops-test {
    .ptype-stanford-wysiwyg { //make the text paragraph full-width
        max-width: 100%;  
        .su-wysiwyg-text {
          .su-intro-text, p, p.su-intro-text {
            max-width: 100%;
          }
        }
      }

    #airtable-list-record-wrapper {
        &.rh-card-layout {
            .airtable-list-record-row { // each card
                @include margin(1.5rem 0); // space between cards
                max-width: calc(100% - 1rem); // small screens and mobile
                min-width: 250px;
          
                // Large screens
                @include grid-media-min("lg") {
                  @include grid-media-max("xl") {
                      max-width: calc(50% - 1rem);
                  }
                }
          
                // Larger screens
                @include grid-media-min("2xl") {
                    max-width: calc(33.33% - 1rem);
                }
          
                .su-card {
                
                    .su-card__contents {
                        @include padding(2rem 3rem);

                        .training-Past {
                            visibility: hidden;
                        }

                        .training-Upcoming {
                            @include padding(.3rem 1rem);
                            letter-spacing: .05rem;
                            font-size: 1.8rem;
                            font-weight: $su-font-semi-bold;
                            text-transform: uppercase;
                            height: 2.6rem;

                            // /*
                            // Green bar
                            background: $gsb-color-palo-verde;
                            color: $su-color-white;
                            text-align: center;
                            // */


                             /*
                            background: $su-color-black;
                            color: $su-color-white;
                            text-align: center;
                             */

                             /*
                            background: $gsb-color-charcoal;
                            color: $su-color-white;
                            max-width: 11rem;
                             */

                             /*
                            background: $su-color-black;
                            color: $su-color-white;
                            max-width: 11rem;
                             */
                          
                              /*
                            //Green text, no background
                            @include padding(.5rem 0);
                            color: $gsb-color-palo-verde-dark;
                              */

                             /*
                            //Black text, no background
                            @include padding(.5rem 0);
                            font-size: 2rem;
                            color: $su-color-black;
                              */

                              /*
                            //Italic black text, no background
                            @include padding(.5rem 0);
                            font-size: 2rem;
                            color: $su-color-black;
                            text-transform: capitalize;
                            font-style: italic;
                              */
                        }
              
                        h2 {
                          font-size: 2.3rem;
                        }

                        h3 {
                            margin-bottom: 1rem;
                        }
                        
                        div {
                          @include margin(1rem 0);
                        }

                        .rh-training-event-date {
                            font-weight: $su-font-semi-bold;
                            font-size: 2.2rem;
                        }
                    
                        .rh-training-past-event-date {
                            font-weight: $su-font-regular;
                        }
                    
                        // Lables for Category and Series
                        .rh-training-label {
                            font-weight: $su-font-semi-bold;
                        }
                        
                        // Default tag button style
                        .airtable-list-filter {
                            display: inline-block;
                            white-space: nowrap;
                            background-color:  $rh-color-default;
                            color: $su-color-black;
                            padding: 0 1rem;
                            border-radius: 2rem;
                            text-align: center;
                            cursor: pointer;
                            transition: background-color 0.3s, transform 0.3s; // smooth transition for hover effects
                            font-size: 1.5rem;
                    
                            &:hover,
                            &:focus {
                            background-color: color(bg--reverse);
                            color: color(link--reverse);
                            }
                        
                            &:focus {
                            box-shadow: $su-focus-shadow;
                            }
                        }
                    
                        .rh-training-category {
                            // Default category tag button style
                            .airtable-list-filter {
                                background-color: $rh-color-default-dark;
                                color: $su-color-white;

                                &:hover,
                                &:focus {
                                background-color: color(bg--reverse);
                                color: color(link--reverse);
                                }
                            
                                &:focus {
                                box-shadow: $su-focus-shadow;
                                }
                            }
                            
                            /*
                            // Category button links
                            // Color for DARC
                            .artificial-intelligence,
                            .computing-and-analytics,
                            .computationally-intensive-research,
                            .data-analytics,
                            .data-onboarding-and-storage,
                            .research-computing {
                                background-color: $rh-color-darc; 
                            }
                    
                            // Color for DAG
                            .data-acquisition-and-governance,
                            .data-licensing,
                            .data-stewardship {
                                //background-color: darken($su-color-poppy-dark, 10%);
                                background-color: $rh-color-dag;
                                color: $su-color-black;
                            }
                    
                            // Color for BLab
                            .human-subjects-research,
                            .survey-methodology {
                                background-color: $rh-color-blab;
                            }
                        
                            // Color for Library
                            .library-research-collections,
                            .library-resources,
                            .publication-support,
                            .research-data-sources,
                            .research-planning,       
                            .using-research-resources {
                                background-color: $rh-color-library;
                            }
                        
                            // Color for RO
                            .research-comms,
                            .research-operations,
                            .research-grants {
                                background-color: $rh-color-ro;
                            }   
                            */ 
                        }
                    
                        .rh-training-description {
                    
                            p {
                                margin-bottom: .7rem;
                    
                                a {
                                    color: $su-color-digital-blue;
                                }
                            }
                    
                            ul {
                                margin-left: 2rem;
                                list-style: disc;
                    
                                li {
                                    line-height: 1;
                                }
                            }
                        }
                    
                        .rh-training-presenter-wrapper {
                            @include margin(1.5rem 0); 
                            
                            .rh-training-presenter-row {
                                line-height: 1.1;
                    
                                .rh-presenter-title {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    
                        .rh-training-links {
                    
                            ul {
                                list-style: none;
                                padding-left: 0;
                    
                                li {
                                    @include margin(0.5rem 0);  
                                }
                    
                                a {
                                    color: $su-color-digital-blue;
                                }
                            }
                        }
              
                        .su-button {
                          @include margin(.5rem);
                          font-size: 2rem;
                        }

                    }
                  
                }
              
            }
        }
    }

}