@charset "UTF-8";

.rh-training-event-date {
    font-weight: $su-font-semi-bold;
    font-size: 2.2rem;
}

.rh-training-label {
    font-weight: $su-font-semi-bold;
}

.rh-training-description {

    p {
        margin-bottom: .7rem;

        a {
            color: $su-color-digital-blue;
        }
    }

    ul {
        margin-left: 2rem;
        list-style: disc;

        li {
            line-height: 1;
        }
    }
}

.rh-training-presenter-wrapper {
    @include margin(1.5rem 0); 
    
    .rh-training-presenter-row {
        @include margin(.7rem 0);
    }
}

.rh-training-links {

    ul {
        list-style: none;
        padding-left: 0;

        li {
            @include margin(0.5rem 0);  
        }

        a {
            color: $su-color-digital-blue;
        }
    }
}

.rh-training-past-event-date {
    font-weight: $su-font-regular;
}