@charset "UTF-8";

// Example: All mixin names should be prefaced with your abbreviation (saa, soe, ood, etc)

@mixin rh-tag-hover-focus {
  &:hover,
  &:focus {
      background-color: color(bg--reverse) !important;
      color: color(link--reverse) !important;
  }

  &:focus {
      box-shadow: $su-focus-shadow !important;
  }
}
