@charset "UTF-8";

// Behavioral Lab
.blab {

    &.tag {
        background-color: $rh-color-blab !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}

.dag {

    &.tag-light {
        background-color: $rh-color-dag-light !important;
        color: $su-color-black !important;
        font-weight: $su-font-semi-bold !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}

// DARC
.darc {

    &.tag {
        background-color: $rh-color-darc !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}

// GSB Library
.library {

    &.tag {
        background-color: $rh-color-library !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}

// Research Labs & Initiatives
.rli {

    &.tag {
        background-color: $rh-color-rli !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}

// Research Operations
.ro {

    &.tag {
        background-color: $rh-color-ro !important;
        
        &:hover,
        &:focus {
        background-color: color(bg--reverse) !important;
        color: color(link--reverse)  !important;
        }

        &:focus {
        box-shadow: $su-focus-shadow  !important;
        }
    }
}