@charset "UTF-8";

// Behavioral Lab
.blab {
    background-color: $rh-color-blab !important;
}

.dag {
    background-color: $rh-color-dag !important;
}

// DARC
.darc {
    background-color: $rh-color-darc !important;
}

// GSB Library
.library {
    background-color: $rh-color-library !important;
}

// Research Labs & Initiatives
.rli {
    background-color: $rh-color-rli  !important;
}

// Research Operations
.ro {
    background-color: $rh-color-ro  !important;
}