@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)

// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $saa-color-pink



// GSB secondary colors
$gsb-color-charcoal: #231F20;
$gsb-color-driftwood: #B6B1A9;
$gsb-color-driftwood-75: #CAC6BF;
$gsb-color-driftwood-50: #D9D7D2;
$gsb-color-driftwood-25: #ECEBE9;
$gsb-color-stone-75: #A69F99; 
$gsb-color-stone-50: #BFBAB6; 
$gsb-color-stone-25: #DCD8D5; 
$gsb-color-sand: #D2BA92;
$gsb-color-sand-75: #E1CFAB; 
$gsb-color-sand-50: #E9DBC1; 
$gsb-color-sand-25: #F2EADD; 

// GSB accent colors
$gsb-color-buckeye-lane: #53284F;
$gsb-color-buckeye-lane-light: #613863;
$gsb-color-buckeye-lane-dark: #350D36;
$gsb-color-palo-alto: #175E54;
$gsb-color-palo-alto-light: #2D716F;
$gsb-color-palo-alto-dark: #014240;
$gsb-color-palo-verde: #279989;
$gsb-color-palo-verde-light: #59B3A9;
$gsb-color-palo-verde-dark: #017E7C;
$gsb-color-new-sky: #5C9DAE;
$gsb-color-new-sky-dark: #267E9C;
$gsb-color-autumn-gingko: #FFC915;
$gsb-color-autumn-gingko-light: #FFDF50;
$gsb-color-autumn-gingko-dark: #F1AD13;
$gsb-color-macdonald: #BAC405;
$gsb-color-macdonald-light: #CFD650;
$gsb-color-macdonald-dark: #636F00;
$gsb-color-mist-dark: #DFE1E2;

// GSB digital colors
$gsb-color-digital-red-dark: #820000;
$gsb-color-digital-blue-dark: #00548F;
$gsb-color-digital-pink: #E64097;
$gsb-color-digital-pink-light: #EC70B1;
$gsb-color-digital-pink-dark: #B0008E;


$gsb-colors: (
  no-color:           $su-color-white,

  // primary colors
  cardinal-red:       $su-color-cardinal-red,
  cardinal-red-light: $su-color-cardinal-red-light,
  cardinal-red-dark:  $su-color-cardinal-red-dark,
  white:              $su-color-white,
  black:              $su-color-black,
  cool-grey:          $su-color-cool-grey,

  // secondary colors
  charcoal:           $gsb-color-charcoal,
  driftwood:          $gsb-color-driftwood,
  driftwood-75:       $gsb-color-driftwood-75,
  driftwood-50:       $gsb-color-driftwood-50,
  driftwood-25:       $gsb-color-driftwood-25,
  stone:              $su-color-stone,
  stone-75:           $gsb-color-stone-75,
  stone-50:           $gsb-color-stone-50,
  stone-25:           $gsb-color-stone-25,
  sand:               $gsb-color-sand,
  sand-75:            $gsb-color-sand-75,
  sand-50:            $gsb-color-sand-50,
  sand-25:            $gsb-color-sand-25,

  // accent colors
  buckeye-lane:       $gsb-color-buckeye-lane,
  buckeye-lane-light: $gsb-color-buckeye-lane-light,
  buckeye-lane-dark:  $gsb-color-buckeye-lane-dark,
  brick:              $su-color-brick,
  brick-light:        $su-color-brick-light,
  brick-dark:         $su-color-brick-dark,
  bay:                $su-color-bay,
  bay-light:          $su-color-bay-light,
  bay-dark:           $su-color-bay-dark,
  lagunita:           $su-color-lagunita,
  lagunita-light:     $su-color-lagunita-light,
  lagunita-dark:      $su-color-lagunita-dark,
  palo-alto:          $gsb-color-palo-alto,
  palo-alto-light:    $gsb-color-palo-alto-light,
  palo-alto-dark:     $gsb-color-palo-alto-dark,
  palo-verde:         $gsb-color-palo-verde,
  palo-verde-light:   $gsb-color-palo-verde-light,
  palo-verde-dark:    $gsb-color-palo-verde-dark,
  new-sky:            $gsb-color-new-sky,
  new-sky-light:      $su-color-sky-light,
  new-sky-dark:       $gsb-color-new-sky-dark,
  poppy:              $su-color-poppy,
  poppy-light:        $su-color-poppy-light,
  poppy-dark:         $su-color-poppy-dark,
  autumn-gingko:      $gsb-color-autumn-gingko,
  autumn-gingko-light:$gsb-color-autumn-gingko-light,
  autumn-gingko-dark: $gsb-color-autumn-gingko-dark,
  macdonald:          $gsb-color-macdonald,
  macdonald-light:    $gsb-color-macdonald-light,
  macdonald-dark:     $gsb-color-macdonald-dark,

  // digital colors
  digital-red:        $su-color-digital-red,
  digital-red-light:  $su-color-digital-red-light,
  digital-red-dark:   $gsb-color-digital-red-dark,
  digital-blue:       $su-color-digital-blue,
  digital-blue-light: $su-color-digital-blue-light,
  digital-blue-dark:  $gsb-color-digital-blue-dark,
  digital-pink:       $gsb-color-digital-pink,
  digital-pink-light: $gsb-color-digital-pink-light,
  digital-pink-dark:  $gsb-color-digital-pink-dark,
  mist:               $su-color-foggy-light,
  mist-dark:          $gsb-color-mist-dark
) !default;
