// Center the site name
.su-lockup__cell2 {
  margin-bottom: 2px;
  
  // Adjust spacing for tablet and desktop screens
  @include grid-media-min('md') {
    padding-left: 10px;
  }
}

// Bold the site name
.su-lockup__line1 {
  font-weight: 600;
}